---
title: Savio Menifer - About
description: Growing up alongside the internet, I have always had a fascination for how the web can bring people and ideas together. Here is a glimpse into who I am and what drives me in my pursuit to explore the intersection of people and technology.
headertext: (he/him)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>

  <body id="about">
    {% include "header.html" %}

    <main>
      <div class="intro-svg">
        <img src="{{'assets/images/about.svg' | url}}" alt="" />
        <img
          class="about-photo"
          src="assets/images/savio.jpg"
          alt="Portrait of Savio Menifer"
        />
      </div>
      <section class="page-intro">
        <p>
          I am a designer who loves tinkering and exploration. Working with
          emerging technology like VR, I create experiences that let us use our
          full range of human capabilities. I like 90s trip hop and downtempo
          music, doing fun DIY projects, and creating
          <a href="lab/pixelart">pixel art</a>.
        </p>
      </section>
      <section class="page-content">
        <section class="page-content">
          <h2 class="about-heading">Things I do…</h2>
          <div class="about-tile tile1">
            <h4>Design 🎨</h4>
            <p>
              I combine visual, UX, and interaction design to create new
              experiences. The core of design to me involves defining the
              problem well and keeping the overall goal in mind at each step.
            </p>
          </div>
          <div class="about-tile tile2">
            <h4>Technology ⚡</h4>
            <p>
              I love tinkering with terminals and code; programming and
              prototyping are essential companions to my work. I also enjoy
              learning about the latest tech and tools.
            </p>
          </div>
          <div class="about-tile tile3">
            <h4>Ideation 🌟</h4>
            <p>
              I am always seeking out creative solutions to problems. I do this
              by drawing inspiration from varied sources and mixing and matching
              concepts to create new perspectives.
            </p>
          </div>
          <div class="about-tile tile4">
            <h4>Collaboration 🙌</h4>
            <p>
              I believe that the best work is done in a culture of
              collaboration. I thrive when I'm working with passionate
              people—combining forces and creating impact together.
            </p>
          </div>
        </section>
        <section class="page-content">
          <h2 class="about-heading">Things I value…</h2>
          <div class="about-tile tile5">
            <h4>Playfulness 👻</h4>
            <p>
              Games and play are fun! But besides that, I also believe that a
              playful approach can often be beneficial to solve serious
              problems.
            </p>
          </div>
          <div class="about-tile tile6">
            <h4>Openness 🌈</h4>
            <p>
              Great things can be built only through multidisciplinary,
              inclusive approaches. I value being adaptable and open at all
              times.
            </p>
          </div>
          <div class="about-tile tile7">
            <h4>Inspiration 💫</h4>
            <p>
              The things that inspire me help me to grow. I find it important to
              surround myself in an environment that inspires and drives me.
            </p>
          </div>
          <div class="about-tile tile8">
            <h4>Learning 🙋</h4>
            <p>
              I cherish being able to constantly learn (and unlearn) things.
              Curiosity, exploration, and discovery are always close to my
              heart.
            </p>
          </div>
        </section>
      </section>
      {% include "footer.html" %}
    </main>

    {% include "contact.html" %} {% include "script.html" %}
  </body>
</html>
