$body-bg-color-light: #f3f3f3;
$primary-text-color-light: #454c57;
$secondary-text-color-light: #24292f;

$body-bg-color-dark: #15141a;
$primary-text-color-dark: #93a0aa;
$secondary-text-color-dark: #dae0e6;

body {
  background-color: $body-bg-color-light;
  color: $primary-text-color-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary-text-color-light;
}

a.external::after {
  background-color: $primary-text-color-light;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $body-bg-color-dark;
    color: $primary-text-color-dark;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $secondary-text-color-dark;
  }
  a.external::after {
    background-color: $primary-text-color-dark;
  }
}

@media (min-width: 40em) {
  .work-card-text h2,
  .work-card-text p {
    color: $body-bg-color-light;
  }
}

$tile-colors: #51b1ca #58ae8f #ddac46 #a14998 #b43956 #358f8f #1773b8 #dda77b;

@for $i from 1 through 8 {
  .about-tile.tile#{$i} {
    background: linear-gradient(
      180deg,
      rgba(nth($tile-colors, $i), 0.06) 10%,
      rgba(nth($tile-colors, $i), 0.13) 100%
    );
  }
}
