<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<base href="{{ "/" | url }}">
<link href="main.css" rel="stylesheet" />
<link rel="icon" href="favicon.ico">

<title>{{ title }}</title>
<meta name="description" content="{{ description}}" />

<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ "https://savi.ooo" | append: page.url | url | removeHTML }}" />
{% if cover %}
<meta property="og:image" content="{{ "https://savi.ooo" | append: "/" | url | append: cover.src }}"/>
<meta property="og:image:alt" content="{{ cover.alt }}" />
{% endif %}
<meta property="og:description" content="{{ description }}" />
